<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554327481944-b0el6phkglqns8ht69jjefflokguo4i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554327481944-b0el6phkglqns8ht69jjefflokguo4i3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554327481944-t419rhjtgdesn5ch1fvsk015buc2a83i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1qLyAzRAkVo0oPPaHPd14NoZfG2PxmR0</string>
	<key>GCM_SENDER_ID</key>
	<string>554327481944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duolanguage.duolanguage</string>
	<key>PROJECT_ID</key>
	<string>duolanguage-7cc34</string>
	<key>STORAGE_BUCKET</key>
	<string>duolanguage-7cc34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554327481944:ios:fdf04509ce3cdaaf5bf42d</string>
</dict>
</plist>